{% extends 'base.html' %}

{% block content %}
<div class="text-center">
  <h2>
    Rippl: a platform for personal civic engagement
  </h2>
  <h4>
    When sustained, many small efforts lead to collective impact.
  </h4>

  <p class="lead">
    Rippl is founded on the idea that calling congresspeople is <a>effective, easy
    and an essential</a> way for citizens’ voices to be heard in a democracy.
    Use this site to <a>track legislation</a>, <a>stay informed</a>, and <a>speak up</a>.
  </p>
</div>
{% endblock %}
