{% extends 'base.html' %}

{% block title %}Privacy & Terms of Service{% endblock %}

{% block content %}
  <h2>Contact us</h2>

  <p class="privacy">
    Feel free to get in touch! The best ways are via Twitter
    (<a href="https://twitter.com/makearippl">@makearippl</a>) or by opening a
    GitHub issue on our <a href="https://github.com/gnmerritt/dailyrippl">main project</a>.
    Pull requests welcome!
  </p>

  <h2>Privacy</h2>

  <p class="privacy">
    This site ("we") uses Google Analytics and our internal webserver logs to
    keep track of how many people visit the site on any given day. Other than
    that, we <b>DO NOT</b> store your personal information on our servers in
    any way. We believe that large collections of personal information are
    dangerous and we have no intention of amassing one.
  </p>

  <p class="privacy">
    We will never ask you for your email address, name or Facebook account. We
    will never email you. We will not store cookies on your browser.
  </p>

  <p class="privacy">
    Any features on the site that persist information are storing it in your
    browser in its
    <a href="http://www.w3schools.com/html/html5_webstorage.asp">local storage</a>.
    This means that we cannot restore any information if it is lost and that we
    do not ever collect it on our servers.
  </p>

  <h2>Terms of Service</h2>

  <h3>Last modified January 9, 2016</h3>

  <p class="privacy">All modifications to these terms can be <a href="https://github.com/gnmerritt/dailyrippl/commits/master/rippl/templates/tos.html">found here</a></p>
{% endblock %}
