{% extends "base.html" %}

{% block content %}
  <h2>Representatives</h2>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Representative</th>
      <th>State</th>
      <th>District</th>
      <th>Party</th>
      <th>Chamber</th>
      <th>Term start</th>
      <th>Term end</th>
    </tr>
    {% for at in reps %}
      <tr>
        <td><a href="{% url 'leg:rep' at.rep.id %}">{{ at.rep.first }} {{ at.rep.last }}</a></td>
        <td>{{ at.term.district.state.name }}</td>
        <td>{{ at.term.district }}</td>
        <td>{{ at.term.get_party_display }}</td>
        <td>{{ at.term.get_chamber_display }}</td>
        <td>{{ at.term.start|date }}</td>
        <td>{{ at.term.end|date }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
