$icon-font-path: "/static/fonts/";
@import "bootstrap";

.navbar {
  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar-collapse {
    text-align: center;
  }
}

.privacy {
  font-size: 18px;
}
